/*
  Usage:

     el-font();
     .button:before {
       el-icon("arrow");
       el-icon("arrow", 14px, #333);
     }

  Output:

     @font-face {
       font-family: "Elusive"; ...
     }
     .button:before {
       font-family: "Elusive";
       content: '\f0123';
     }
 */

el = {
  path: "http://aristath.github.io/elusive-iconfont/assets/elusive-font/font/"
  name: "Elusive"
  site: "http://ionicons.com/fonts"
  basename: "Elusive-Icons"
  version: "1.4.1"
  svghash: "#Elusive-Icons"
  nativesize: "14px"
}

el-font()
  @font-face
    font-family: el['name']
    src: url(el['path'] + el['basename'] + '.eot?v=' + el['version'])
    src: url(el['path'] + el['basename'] + '.eot?#iefix&v=' + el['version']) format("embedded-opentype"), url(el['path'] + el['basename'] + ".woff?v=" + el['version']) format("woff"), url(el['path'] + el['basename'] + ".ttf?v=" + el['version']) format("truetype"), url(el['path'] + el['basename'] + ".svg?v=" + el['version'] + el['svghash']) format("svg")
    font-weight: normal
    font-style: normal

el-icon(type, size = auto, color = auto, top = auto, left = auto, shadow = none)
  @extend $el-icon
  content: el-icons[type]

  unless size is "auto"
    font-size: size
  unless top is "auto"
    position: relative
    top: top
  unless left is "auto"
    position: relative
    left: left
  unless color is "auto"
    color: color
  unless shadow is "none"
    text-shadow: shadow

$el-icon
  line-height: 1em
  font-family: el['name']
  font-weight: normal
  font-style: normal
  display: inline-block
  text-decoration: none
  vertical-align: middle
  text-rendering: optimizeLegibility !important
  -webkit-font-smoothing: antialiased !important
  -moz-osx-font-smoothing: grayscale

el-icons = {

  briefcase = "\e10d"
  bullhorn = "\e10c"
  calendar = "\e10b"
  calendar-sign = "\e10a"
  cog = "\e109"
  cog-alt = "\e108"
  cogs = "\e107"
  comment = "\e106"
  error = "\e105"
  error-alt = "\e104"
  exclamation-sign = "\e103"
  eye-close = "\e102"
  flag-alt = "\e101"
  flickr = "\e100"
  folder = "\e0ff"
  folder-close = "\e0fe"
  globe-alt = "\e0fd"
  googleplus = "\e0fc"
  graph = "\e0fb"
  graph-alt = "\e0fa"
  idea-alt = "\e0f9"
  inbox = "\e0f8"
  inbox-alt = "\e0f7"
  inbox-box = "\e0f6"
  book = "\e0f5"
  bookmark = "\e0f4"
  bookmark-empty = "\e0f3"
  braille = "\e0f2"
  circle-arrow-right = "\e0f1"
  circle-arrow-up = "\e0f0"
  cloud = "\e0ef"
  cloud-alt = "\e0ee"
  edit = "\e0ed"
  eject = "\e0ec"
  envelope = "\e0eb"
  envelope-alt = "\e0ea"
  film = "\e0e9"
  filter = "\e0e8"
  fire = "\e0e7"
  flag = "\e0e6"
  github-text = "\e0e5"
  glass = "\e0e4"
  glasses = "\e0e3"
  globe = "\e0e2"
  heart-empty = "\e0e1"
  home = "\e0e0"
  home-alt = "\e0df"
  idea = "\e0de"
  address-book = "\e0dd"
  address-book-alt = "\e0dc"
  adjust = "\e0db"
  adult = "\e0da"
  align-center = "\e0d9"
  align-justify = "\e0d8"
  align-left = "\e0d7"
  align-right = "\e0d6"
  arrow-down = "\e0d5"
  arrow-left = "\e0d4"
  barcode = "\e0d3"
  behance = "\e0d2"
  bell = "\e0d1"
  blind = "\e0d0"
  blogger = "\e0cf"
  bold = "\e0ce"
  chevron-left = "\e0cd"
  chevron-right = "\e0cc"
  chevron-up = "\e0cb"
  child = "\e0ca"
  circle-arrow-down = "\e0c9"
  circle-arrow-left = "\e0c8"
  delicious = "\e0c7"
  deviantart = "\e0c6"
  digg = "\e0c5"
  download = "\e0c4"
  download-alt = "\e0c3"
  dribble = "\e0c2"
  file = "\e0c1"
  file-alt = "\e0c0"
  file-edit = "\e0bf"
  file-edit-alt = "\e0be"
  file-new = "\e0bd"
  file-new-alt = "\e0bc"
  foursquare = "\e0bb"
  friendfeed = "\e0ba"
  friendfeed-rect = "\e0b9"
  fullscreen = "\e0b8"
  gift = "\e0b7"
  github = "\e0b6"
  hand-up = "\e0b5"
  hdd = "\e0b4"
  headphones = "\e0b3"
  hearing-impaired = "\e0b2"
  heart = "\e0b1"
  heart-alt = "\e0b0"
  arrow-right = "\e0af"
  arrow-up = "\e0ae"
  asl = "\e0ad"
  asterisk = "\e0ac"
  backward = "\e0ab"
  ban-circle = "\e0aa"
  camera = "\e0a9"
  cc = "\e0a8"
  certificate = "\e0a7"
  check = "\e0a6"
  check-empty = "\e0a5"
  chevron-down = "\e0a4"
  comment-alt = "\e0a3"
  compass = "\e0a2"
  compass-alt = "\e0a1"
  credit-card = "\e0a0"
  css = "\e09f"
  dashboard = "\e09e"
  eye-open = "\e09d"
  facebook = "\e09c"
  facetime-video = "\e09b"
  fast-backward = "\e09a"
  fast-forward = "\e099"
  female = "\e098"
  folder-open = "\e097"
  folder-sign = "\e096"
  font = "\e095"
  fontsize = "\e094"
  forward = "\e093"
  forward-alt = "\e092"
  group = "\e091"
  group-alt = "\e090"
  guidedog = "\e08f"
  hand-down = "\e08e"
  hand-left = "\e08d"
  hand-right = "\e08c"
  indent-left = "\e08b"
  indent-right = "\e08a"
  info-sign = "\e089"
  instagram = "\e088"
  iphone-home = "\e087"
  italic = "\e086"
  key = "\e085"
  laptop = "\e084"
  laptop-alt = "\e083"
  leaf = "\e082"
  linkedin = "\e081"
  list = "\e080"
  list-alt = "\e07f"
  lock = "\e07e"
  lock-alt = "\e07d"
  magnet = "\e07c"
  male = "\e07b"
  map-marker = "\e07a"
  map-marker-alt = "\e079"
  mic = "\e078"
  mic-alt = "\e077"
  minus = "\e076"
  minus-sign = "\e075"
  move = "\e074"
  music = "\e073"
  network = "\e072"
  off = "\e071"
  ok = "\e070"
  ok-circle = "\e06f"
  ok-sign = "\e06e"
  paper-clip = "\e06d"
  paper-clip-alt = "\e06c"
  path = "\e06b"
  pause = "\e06a"
  pause-alt = "\e069"
  pencil = "\e068"
  pencil-alt = "\e067"
  person = "\e066"
  phone = "\e065"
  phone-alt = "\e064"
  photo = "\e063"
  photo-alt = "\e062"
  picasa = "\e061"
  picture = "\e060"
  pinterest = "\e05f"
  plane = "\e05e"
  play = "\e05d"
  play-alt = "\e05c"
  play-circle = "\e05b"
  plus = "\e05a"
  plus-sign = "\e059"
  print = "\e058"
  qrcode = "\e057"
  question = "\e056"
  question-sign = "\e055"
  quotes = "\e054"
  quotes-alt = "\e053"
  random = "\e052"
  record = "\e051"
  reddit = "\e050"
  refresh = "\e04f"
  remove = "\e04e"
  remove-circle = "\e04d"
  remove-sign = "\e04c"
  repeat = "\e04b"
  repeat-alt = "\e04a"
  resize-full = "\e049"
  resize-horizontal = "\e048"
  resize-small = "\e047"
  resize-vertical = "\e046"
  retweet = "\e045"
  reverse-alt = "\e044"
  road = "\e043"
  rss = "\e042"
  screen = "\e041"
  screen-alt = "\e040"
  screenshot = "\e03f"
  search = "\e03e"
  search-alt = "\e03d"
  share = "\e03c"
  share-alt = "\e03b"
  shopping-cart = "\e03a"
  shopping-cart-sign = "\e039"
  signal = "\e038"
  skype = "\e037"
  slideshare = "\e036"
  smiley = "\e035"
  smiley-alt = "\e034"
  speaker = "\e033"
  stackoverflow = "\e032"
  star = "\e031"
  star-alt = "\e030"
  star-empty = "\e02f"
  step-backward = "\e02e"
  step-forward = "\e02d"
  stop = "\e02c"
  stop-alt = "\e02b"
  stumbleupon = "\e02a"
  tag = "\e029"
  tags = "\e028"
  tasks = "\e027"
  text-height = "\e026"
  text-width = "\e025"
  th = "\e024"
  th-large = "\e023"
  th-list = "\e022"
  thumbs-down = "\e021"
  thumbs-up = "\e020"
  time = "\e01f"
  time-alt = "\e01e"
  tint = "\e01d"
  torso = "\e01c"
  trash = "\e01b"
  trash-alt = "\e01a"
  tumblr = "\e019"
  twitter = "\e018"
  universal-access = "\e017"
  unlock = "\e016"
  unlock-alt = "\e015"
  upload = "\e014"
  user = "\e013"
  video = "\e012"
  video-alt = "\e011"
  video-chat = "\e010"
  view-mode = "\e00f"
  vimeo = "\e00e"
  volume-down = "\e00d"
  volume-off = "\e00c"
  volume-up = "\e00b"
  w3c = "\e00a"
  warning-sign = "\e009"
  website = "\e008"
  website-alt = "\e007"
  wheelchair = "\e006"
  wordpress = "\e005"
  wrench = "\e004"
  wrench-alt = "\e003"
  youtube = "\e002"
  zoom-in = "\e001"
  zoom-out = "\e000"
  vkontakte = "\e10e"
}

